* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(img/mountain-modern-10-900x383.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

main.second-window {
    display: none;
}

.cta button {
    text-align: center;
    margin: 10px;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.cta button:hover {
    transform: scale(1.1);
    border: 2px solid rgb(98, 98, 235);
}

.cta {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.event-card:hover {
    transform: scale(1.01);
    box-shadow:
        inset 0 -3em 3em rgba(107, 146, 244, 0.3),
        0 0 0 2px white,
        0.3em 0.3em 1em rgba(0, 106, 255, 0.6);
    z-index: 99;
}

.logo img {
    width: 120px;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
}

main {
    width: 80%;
    backdrop-filter: blur(5px);
    margin: auto;
    border-radius: 10px;
    padding: 35px;
}

.progress-line {
    width: 80%;
    height: 5px;
    background-color: white;
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.progress-line span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -20px;
}

.progress-line span p {
    margin-top: -28px;
    color: #000000;
    font-weight: bold;
}

.progress-line span:last-child {
    right: 0;
}

.progress-line span:nth-child(3) {
    right: 30%;
}

.progress-line span:nth-child(2) {
    left: 30%;
}

.progress-line span:first-child {
    left: 0;
}

.progress-line span.active {
    background-color: #4B65E9;
}

.events {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 4%;
}

.event-card {
    position: relative;
    height: 250px;
    width: 200px;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.event-card .first img {
    width: 100%;
    border-radius: 10px;
}

.event-card .second {
    padding: 6px;
}

.event-card .second p {
    color: gray;
    font-size: 12px;
    margin-bottom: 9px;
}

.event-card .second p.seats {
    color: #4B65E9;
    font-weight: bold;
}

.footer-events {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second .footer-events p {
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    margin-bottom: 0;
}

.footer-events button {
    background-color: rgb(66, 66, 66);
    color: gainsboro;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.Buillet {
    display: flex;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-top: 100px;
}

.Buillet .image-event {
    width: 50%;
}

.Buillet .image-event {
    width: 50%;
    position: relative;
}
.user-form-container{
    display: flex;
}
.Buillet .image-event img {
    width: 80%;
    border-radius: 10px;
}

.choosen {
    border: 2px solid blue;
}

.Buillet .second {
    width: 50%;
}

.Buillet .second p.place {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    margin-bottom: 12px;
}

.Buillet .second p.seats {
    color: blue;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 15px;
}

.Buillet .footer-events p {
    font-weight: bold;
    color: #e12c2c;
    font-size: 16px;
}

.users {
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 0;
}

.users .counts {
    margin-left: 20%;
    display: flex;
    width: 40%;
    background-color: black;
    color: gainsboro;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px 50px;
}

.users .counts i {
    cursor: pointer;
}

.users label {
    font-weight: bold;
}
.third-window{display: none;}
.switch-1 {
    text-align: center;
    margin-top:30px;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    margin-left: 35%;
}
.switch-1:hover{
    background-color: #000000;
    color: white;
}

.user-form{
    width: 90%;
    display: flex;
    margin-top: 4%;
    margin-right: -40%;
}
.participant-form-container{
    width: 50%;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}
.participant-form-container h3{
    color: #2849f1;
    text-align: center;
}
.form-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.form-info input{
    padding: 8px;
    border-radius: 4px;
    border: 2px solid gainsboro;
}
.participant-status{
    color: #2849f1;
    font-weight: bold;
    margin-bottom: 20px;
}
.participant-form-container button.confirm-button{
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    margin-left: 40%;
    cursor: pointer;
}
.participant-form-container button.confirm-button:hover{
    background-color: black;
    color: white;
}
.user-resume{
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;    width: 50%;
    margin-top: 4%;
    display: block;
}
.userResum{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    gap: 50px;
    border-bottom: 2px solid black;
}
button.delete{
    background-color: #e12c2c;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}
.fourth-window-switch{
    align-items: center;
    margin-left: 45%;
    padding: 6px 20px;
    border-radius: 6px;
    border-style: none;
    margin-top: 20px;
    border: 2px solid black;
    cursor: pointer;
}
.fourth-window{
    display: none;
}
.recapitulatif{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 40px;
}
.recapitulatif div{
width: 29%;
    height: 429px;
    background: #c0b6b6cc;
    border-radius: 13px;
    padding: 10px;
}

.recapitulatif h1{
    font-size: 17px;
    margin-bottom: 24px;
    color: blue;
    font-weight: bold;
    text-align: center;
}
.usersResum p.lastOne{
    border-bottom: 2px solid black;
    margin-bottom: 3px;
    padding-bottom: 10px;
}
.eventResum h2{
    font-size: 17px;
    color: gainsboro;
    margin-bottom: 5px;
}